/*Reset Template*/ 
@font-face {
  font-family: "headerFont";
  src: url(TheBlacklist.woff);
}

@font-face {
  font-family: "buttonMsgFont";
  src: url(CLARENDON.woff);
}

*, *::before, *::after {
    box-sizing: border-box;
  }

  
  * {
    margin: 0;
    font-size: 16px;

  }
  
  body {
    font-family: Tahoma, sans-serif;
    line-height: 1.5;
    text-align: center;
    font-family: Tahoma, sans-serif;
    line-height: 1.5;
    text-align: center;
    background: rgb(31 40 45 );
    }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
    font-family: "buttonMsgFont";
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  h1#header {
    font-family: "headerFont";
    font-size: 3rem;
    margin: 25px;
}

  #root, #__next {
    isolation: isolate;
  }

  div#emotions {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  div#container {
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

button {
  height: 10rem;
  width: 10rem;
  margin: 15px 10px;
  font-size: 1.5rem;
  background: rgb(0 0 0 / 0.1
  );
}


button:hover {
  background-color: rgb(0 0 0 / 0.3);
  border: 4px dashed white;
  border-radius: 10%;
  transition: all 0.3s ease;

}

button:focus {
  background: rgb(0 0 0 / 0.5);
  color: white;
  border-radius: 10%;
  border: 4px dashed white;

}

input[type="reset"] {
  border-radius: 10%;
  font-size: 1.5em;
  width: 150px;
  height: 100px;
  background-color: red;
  opacity: 1;
  transition: all 0.5s ease;
}

input[type="reset"]:hover {
  border-radius: 10%;
  background: rgb(0 0 0 / 0.3);
  border: 4px dashed white;

}

h1#header {
  font-size: 3rem;
  margin-bottom: 0;

}

div#msgContainter {
  margin-bottom: 30px;
}

p#message {
  font-size: 2rem;
  font-family: "buttonMsgFont";
}


/* for mobile devices */ 

@media (max-width: 768px) {
  h1#header {
      font-size: 2.5rem; 
  }
  
  div#emotions {
      grid-template-columns: repeat(3, 1fr); 
  }
 
  div#msgContainter {
    margin-top: 10px;
    margin-bottom: 10px;
}
  button {
      height: 8rem; 
      width: 8rem;
      font-size: 1.2rem;
  }

  p#message {
      font-size: 1.5rem; 
  }
}

@media (max-width: 480px) {
  h1#header {
      font-size: 2rem; 
  }

  div#emotions {
      grid-template-columns: repeat(2, 1fr);
  }

  button {
      height: 6rem;
      width: 6rem;
      font-size: 1rem;
  }

  p#message {
      font-size: 1.2rem;
  }
}