/*Reset Template*/ 

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    font-size: 16px;

  }
  

  body {
    font-family: Tahoma, sans-serif;
    line-height: 1.5;
    text-align: center;
    font-family: Tahoma, sans-serif;
    line-height: 1.5;
    text-align: center;
    background: rgb(31 40 45 );
    }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  h1#header {
    font-size: 3rem;
    margin: 25px;
}

  #root, #__next {
    isolation: isolate;
  }

  div#emotions {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  div#container {
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
  height: 10rem;
  width: 10rem;
  margin: 15px 10px;
  font-size: 1.5rem;
  background: rgb(0 0 0 / 0.1
  );
}

h1#header {
  font-size: 3rem;
  margin: 25px;
}

div#msgContainter {
  margin-bottom: 30px;
}

p#message {
  font-size: 2rem;
}